# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.lock
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.lastbuildstate
*.log
*.pdb
*.tlog
*.ilk
*.bin
*.recipe
.vs/DPCPPConsoleApplication1/v17/.suo
DPCPPConsoleApplication1/x64/Debug/_IsIncrementalBuild
DPCPPConsoleApplication1/x64/Release/_IsIncrementalBuild
DPCPPConsoleApplication1/x64/Release/DPCPPConsoleApplication1.vcxproj.FileListAbsolute.txt
DPCPPConsoleApplication1/x64/Debug/DPCPPConsoleApplication1.vcxproj.FileListAbsolute.txt
Common/x64/Release/Common.vcxproj.FileListAbsolute.txt
Common/x64/Debug/Common.vcxproj.FileListAbsolute.txt
Server/x64/Release/Server.vcxproj.FileListAbsolute.txt
Server/x64/Debug/Server.vcxproj.FileListAbsolute.txt
